/* Supplementary colours and text decoration in reST. */

.red {
    color: red;
}

figcaption {
    text-align: left !important;
}

.docutils caption {
  caption-side: bottom;
  text-align: left !important;
}
