/* Supplementary colours and text decoration in reST. */

.red {
    color: red;
}

figcaption {
    text-align: left !important;
}

.docutils caption {
  caption-side: bottom;
  text-align: left !important;
}

.rst-content table.docutils caption,.rst-content table.field-list caption,.wy-table caption {
  font: unset;
}

.caption-text {
    font-style: italic;
}
