/* Supplementary colours and text decoration in reST. */

.red {
    color: red;
}

.green {
    color: green;
}

figcaption {
    text-align: left !important;
}

.docutils caption {
  caption-side: bottom;
  text-align: left !important;
}

.rst-content table.docutils caption,.rst-content table.field-list caption,.wy-table caption {
  font: unset;
}

.rst-content div.figure .caption-text, .rst-content figure .caption-text {
    font-style: normal;
}

.caption-text {
    font-style: normal;
}

.caption-number {
    padding-right: 0.5em;
}
